@import "tailwindcss";

@theme inline {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-primary: #ffffff;
  --color-cyan-glow: rgba(255, 255, 255, 0.05);
  --color-surface-low: #050505;
  --color-surface-container: #111111;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-space-grotesk), sans-serif;
}

/* Hide Spline watermark */
a[href*="spline.design"], #logo {
  display: none !important;
}
